*{
    font-size: 3vh;
    background:lightgrey;
}
#output{
    color: blue;
    text-align: center;
    font-weight: bold;
    font-size: 8vh;
    padding: 5%;
    background-color: white;
    
}
.all{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}